.home__content {
  position: absolute;
  right: 0;
  width: 82%;
  text-align: center;
  height: 100%;
}

.home__title {
  font-size: 20px;
  margin-top: -10px;
  position: relative;
  top: 50%;
  line-height: 100%;
  color: #999;
}
