.user {
  display: block;
  padding: 20px 0;
  background: #eee;
  border-bottom: 1px solid #fff;
}

.user:hover {
  background: #f9f9f9;
}

.user__avatar {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.user__username {
  display: inline-block;
}

.user__active {
  background: #dfdfdf;
}