.add-event {
  background: #eee;
  margin: 15px;
  padding: 20px 30px;
  border-radius: 8px;
}

.add-event__title {
  font-size: 20px;
  font-weight: 600;
}

.add-event__text {
  width: 100%;
  border: 0;
  outline: none;
  margin-top: 10px;
}

.add-event__submit {
  cursor: pointer;
  margin-top: 10px;
}