.event {
  background: #eee;
  margin: 15px;
  padding: 20px 30px;
  border-radius: 8px;
}

.event__author {
  display: inline-block;
}

.event__username {
  font-weight: 600;
}

.event__avatar {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.event__description {
  margin: 15px 0;
  padding: 15px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.event__delete {
  cursor: pointer;
  float: right;
  font-weight: 600;
  color: #cc4e45;
  padding: 5px;
  border-radius: 3px;
}

.event__delete:hover {
  background: #cc4e45;
  color: white;
}

.event__id-label {
  font-weight: 600;
  color: #999;
}

.event__id {
  color: #000;
}

.event__date {
  float: right;
}